Source: sddm-theme-wintersky
Maintainer: Torsten Wohlfart <towo@siduction.org>
Uploaders: Hendrik Lehmbruch <hendrikl@siduction.org>
Section: x11
Priority: optional
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/siduction/sddm-theme-siduction
Vcs-Git: https://github.com/siduction/sddm-theme-siduction.git
Homepage: https://github.com/siduction/sddm-theme-siduction

Package: sddm-theme-wintersky
Architecture: all
Depends: ${misc:Depends},
         wintersky-wallpapers,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-controls2,
  		 qml-module-qtquick-controls
Recommends: sddm
Provides: sddm-theme
Description:  theme for sddm
 siduction wintersky sddm theme.
 .
 This package contain a sddm theme.
