[SddmGreeterTheme]
Name=farewell
Description=farewell sddm theme
Type=sddm-theme
Author=Hendrik Lehmbruch
Copyright=2021, Hendrik Lehmbruch
License=EXPAT
Screenshot=images/preview.png
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=farewell
Theme-API=2.0
Website=https://github.com/siduction/sddm-theme-siduction
