[SddmGreeterTheme]
Name=Big-Crime
Description=Big Crime sddm theme
Author=Hendrik Lehmbruch
Copyright=2026, Hendrik Lehmbruch
License=EXPAT
Type=sddm-greeter
Screenshot=images/preview.png
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Big-Crime
Theme-API=2.0
Website=https://github.com/siduction/sddm-theme-siduction
QtVersion=6
